.center {
    padding-left: 250px;
    padding-right: 270px;
    padding-top: 40px;
    
}

.little{
    padding-left: 240px;
    padding-right: 200px;
    padding-top: 40px;
}

.content {
    padding-top: 50px;
    padding-left: 50px;
}